﻿@model Mennion.Common.Infrastructure.Navigation.INode
<ul>
    <li><a href="@Url.Action(Model.ActionName,Model.ControllerName,Model.RouteValues)">@Model.Title (@Model.Css)</a></li>
    @foreach (var childNode in Model.Children)
    {
        @Html.DisplayFor(node => childNode, "MvcNavigationMenuNode", new { ViewBag.CurrentLevel, ViewBag.MaxLevels, ViewBag.RenderAllLevels })
    }
</ul>