﻿@using Mennion.Common.Infrastructure.Navigation
@model Mennion.Common.Infrastructure.Navigation.INode
<li>
    <a href="@Url.Action(Model.ActionName,Model.ControllerName,Model.RouteValues)">@Model.Title (@Model.Css)</a>
    @if (ViewBag.CurrentLevel < ViewBag.MaxLevels)
    {
        if (Model.Children.Any() && ViewBag.RenderAllLevels || (@Html.IsCurrentNode(Model) || @Html.IsAncestorOfCurrentNode(Model)))
        {
            var nextLevel = ViewBag.CurrentLevel + 1;
            <ul>
                @foreach(var childNode in Model.Children)
                {
                    @Html.DisplayFor(node => childNode, "MvcNavigationMenuNode", new { ViewBag.MaxLevels, CurrentLevel = nextLevel })
                }
            </ul>
        }
    }
</li>